* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../image/3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.reg {
    padding: 0 50px;
    width: 600px;
    height: 70vh;
    margin: auto;
    position: relative;
    top: 10vh;
    background-color: rgba(240, 255, 255, 0.5);
}

    .reg .title {
        text-align: center;
        padding-top: 3vh;
    }

    .reg .worning {
        color: red;
        display: none;
    }

    .reg .verification-Code {
        background-color: gold;
        font-family: Arial;
        font-style: italic;
        color: white;
        font-size: 25px;
        border: 0;
        letter-spacing: 8px;
        font-weight: bolder;
    }

    .reg .reg-verification {
        margin-top: 20px;
        width: 500px;
        font-size: 20px;
    }
