table {
    width: 1000px;
    border: 1px solid #336699;
    padding: 0;
    margin: 0 auto;
    border-collapse: collapse;
}

    table caption {
        font-size: 40px;
        font-family: "微软雅黑";
        color: #000;
    }

    table th, table td {
        border: 1px solid #336699;
        font-size: 18px;
        text-align: center;
        padding: 10px;
        color: #333;
    }

    table th {
        background-color: #409EFF;
        color: #fff;
    }
